.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .dashboard-activity-container {
    
    padding: 20px; 
  }

  .btn.btn-secondary {
    flex: 0 0 calc(10% - 8px);
    max-width: calc(10% - 8px); 
    background-color: #343434;
    color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 12px 24px;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .btn.btn-secondary.active {
    background-color: #cbcbcb;
  }
  
  .chart-container {
    max-height: 60vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }